
$default-background: #F5F5F5;
$main-black: #000;
$grey-accent: #a6a6a6;
$lighter-grey-accent: #ccc;

body {
  background-color: $default-background;
  font-family: 'Recursive', sans-serif;
}

p {
  padding: 2% 0 3% 0;
  margin: 0;
  color: $grey-accent;
  font-weight: bold;
  font-size: 14px
}

h1 {
  padding: 0;
  margin: 0;
  font-weight: bolder;

}

.container {
  height: 100%;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.active-show-card {
  text-align: center;
  text-transform: uppercase;
  margin-top: 2%;
  img {
    height: 50vh;
    width: auto;
  }
}

.show-carousel-wrapper {
  margin: auto;
  display: flex;
  justify-content: center;
}

.arrow {
	margin-top: 9vh;
	width: 3vmin;
	height: 3vmin;
	background: transparent;
  border: $default-background;
	border-top: .5vmin solid $grey-accent;
	border-right: .5vmin solid $grey-accent;
	box-shadow: 0 0 0 lightgray;
	transition: all 200ms ease;
	&.left {
		left: 0;
		transform: translate3d(0,-50%,0) rotate(-135deg);
	}
	&.right {
		right: 0;
		transform: translate3d(0,-50%,0) rotate(45deg);
	}
	&:hover {
		border-color: orange;
	}
	&:before {
		content: '';
		top: 50%;
		left: 50%;
		transform: translate(-40%,-60%) rotate(45deg);
		width: 200%;
		height: 200%;
	}
}

.show-carousel {
  display: flex;
  overflow-x: scroll;
  scroll-behavior: smooth;
}

hr.solid {
  border-top: 3px solid $lighter-grey-accent;
  width: 90vw;
  margin: 1% auto 1% auto;
}

.mini-show-card-mobile, .mini-show-card {
  padding: 0 2% 0 2%;
  text-decoration: none;
  section {
    text-align: center;
  }
  p {
    padding: 0;
    min-height: 16px;
    font-size: 15px;
    font-weight: lighter;
    color: $main-black;
  }
  img {
    height: 15vh;
    width: auto;
    padding: 5% 0 5% 0;
    &:hover {
      opacity: 0.6;
    }
  }
}

.active-carousel-item {
  border-bottom: 10px solid $main-black;
}