
$default-background: #F5F5F5;

body {
  background-color: $default-background;
  font-family: 'Recursive', sans-serif;
}

p {
  padding: 2% 0 3% 0;
  margin: 0;
  color: #a6a6a6;
  font-weight: bold;
  font-size: 14px
}

h1 {
  padding: 0;
  margin: 0;
  font-weight: bolder;
}

.container {
  height: 100%;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.active-show-card {
  text-align: center;
  text-transform: uppercase;
  margin-top: 2%;
  img {
    height: 50vh;
    width: auto;
  }
}

.show-carousel {
  display: flex;
  overflow-x: scroll;
  margin: auto;
}

hr.solid {
  border-top: 3px solid #ccc;
  width: 90vw;
  margin: 1% auto 1% auto;
}

.mini-show-card-mobile, .mini-show-card {
  padding: 0 2% 0 2%;
  text-decoration: none;
  section {
    text-align: center;
  }
  p {
    padding: 0;
    min-height: 16px;
    font-size: 15px;
    font-weight: lighter;
    color: black;
  }
  img {
    height: 15vh;
    width: auto;
    padding: 5% 0 5% 0;
    border-bottom: 10px solid clear;
    border-top: 10px solid clear;
    &:hover {
      opacity: 0.6;
    }
  }
}

.active-carousel-item {
  border-bottom: 10px solid black;
  // border-top: 10px solid white;
}