
$default-background: #D3D3D3;

body {
    background-color: $default-background;
}

.container {
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 10px;
  margin: auto;
}

.active-show-card {
  img {
    height: 50vh;
    width: auto;
  }
}

.show-carousel {
  display: flex;
  overflow-x: scroll;
  width: 80%;
}

.mini-show-card {
  img {
    padding: 10%;
    height: 30vh;
    width: auto;
  }
}